body {
	background-color: #37f3c6;
	margin: 0 auto;
	font-family: 'Righteous', cursive;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

.header {
	min-height: 600px;
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(255, 255, 255, 0.1) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(255, 255, 255, 0.1) 50%,rgba(0, 0, 0, 0) 52%);
  	background-size: 2em 2em;
  	background-color: #303030;
	position: relative;
	text-align: center;
}

.header__button {
	margin-top: 250px;
}

.check {
	visibility: hidden;
	margin-left: -20px;
}

.header__button a {
	text-decoration: none;
	font-size: 3em;
	color: #17d3f7;
	padding: 100px;
	border: 2px solid #37f3c6;
	background-color: #37f3c6;
	border-radius: 30%;
	transition: all 0.45s ease 0s;
}

.header__button>a:hover {
	text-decoration: none;
	font-size: 3em;
	color: #15b6f5;
	padding: 100px;
	border: 2px solid #0582bd;
	background-color: #0582bd;
	border-radius: 50%;
}

.main {
	margin-top: 10px;
	min-height: 600px;
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%);
  	background-size: 2em 2em;
  	background-color: #fff;
}