body {
	background-color: #37f3c6;
	margin: 0 auto;
	font-family: 'Righteous', cursive;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

.header {
	min-height: 600px;
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(255, 255, 255, 0.1) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(255, 255, 255, 0.1) 50%,rgba(0, 0, 0, 0) 52%);
  	background-size: 2em 2em;
  	background-color: #303030;
	position: relative;
	text-align: center;
}

.header__button {
	margin-top: 250px;
}

.check {
	visibility: hidden;
	margin-left: -20px;
}

.header__button a {
	text-decoration: none;
	font-size: 3em;
	color: #17d3f7;
	padding: 100px;
	border: 2px solid #37f3c6;
	background-color: #37f3c6;
	border-radius: 30%;
	transition: all 0.45s ease 0s;
}

.header__button>a:hover {
	text-decoration: none;
	font-size: 3em;
	color: #15b6f5;
	padding: 100px;
	border: 2px solid #0582bd;
	background-color: #0582bd;
	border-radius: 50%;
}

.main {
	margin-top: 10px;
	min-height: 600px;
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%);
  	background-size: 2em 2em;
  	background-color: #fff;
}

/* Стили модального окна */

.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}

/* кнопка закрытия окна */
.modal .btn-close {
    color: #63ffd3;
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    right: 15px;
    top: 0;
}

.modal .btn-close:hover {
    color: red;
}

/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}

.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}

/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}

.modal-open:checked ~ .modal-wrap .modal-dialog {
    transform: translate(-50%, 0);
    top: 25%;
}

/* элементы модального окна */
.modal-dialog {
    background: #1ad2da;
    border: none;
    border-radius: 25px;
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transform: translate(-50%, -500%);
    transition: transform 0.4s ease-out;
    z-index: 103;
}

.modal-body {
  padding: 20px;
}

.modal-body p {
    margin: 0;
}

.modal-header {
    border-bottom: #6df8c1 solid 1px;
    padding: 20px 20px;
}

.modal-header h2 {
    font-size: 20px;
    margin: 0;
}

/* адаптивные картинки в модальном блоке */
.modal-body img { 
    max-width: 100%;
    height: auto;
}