body {
	background-color: #37f3c6;
	margin: 0 auto;
	font-family: 'Righteous', cursive;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

.header {
	min-height: 600px;
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(255, 255, 255, 0.1) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(255, 255, 255, 0.1) 50%,rgba(0, 0, 0, 0) 52%);
  	background-size: 2em 2em;
  	background-color: #303030;
	position: relative;
	text-align: center;
}

.header__button {
	margin-top: 250px;
}

.check {
	visibility: hidden;
	margin-left: -20px;
}

.header__button a {
	text-decoration: none;
	font-size: 3em;
	color: #17d3f7;
	padding: 100px;
	border: 2px solid #37f3c6;
	background-color: #37f3c6;
	border-radius: 30%;
	transition: all 0.45s ease 0s;
}

.header__button>a:hover {
	text-decoration: none;
	font-size: 3em;
	color: #15b6f5;
	padding: 100px;
	border: 2px solid #0582bd;
	background-color: #0582bd;
	border-radius: 50%;
}

.main {
	margin-top: 10px;
	min-height: 600px;
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%);
  	background-size: 2em 2em;
  	background-color: #fff;
}

/* Стили модального окна */

.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}

/* кнопка закрытия окна */
.modal .btn-close {
    color: #63ffd3;
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    right: 15px;
    top: 0;
}

.modal .btn-close:hover {
    color: red;
}

/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}

.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}

/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}

.modal-open:checked ~ .modal-wrap .modal-dialog {
    transform: translate(-50%, 0);
    top: 25%;
}

/* элементы модального окна */
.modal-dialog {
    background: #1ad2da;
    border: none;
    border-radius: 25px;
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transform: translate(-50%, -500%);
    transition: transform 0.4s ease-out;
    z-index: 103;
}

.modal-body {
  padding: 20px;
}

.modal-body p {
    margin: 0;
}

.modal-header {
    border-bottom: #6df8c1 solid 1px;
    padding: 20px 20px;
}

.modal-header h2 {
    font-size: 20px;
    margin: 0;
}

/* адаптивные картинки в модальном блоке */
.modal-body img { 
    max-width: 100%;
    height: auto;
}

/*часы*/
.block {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 800px;
  left: calc(50% - 100px);
}

.clock {
  background: #1ad2da;
  border-radius: 100px;
  box-shadow: 6px 6px 0 #ABBABF;
  height: 200px;
  width: 200px;
  position: relative;
}

.clock-inner {
  background: #63ffd3;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  position: absolute;
  left: calc(50% - 80px);
  top: calc(50% - 80px);
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.3), inset -2px -2px 4px rgba(0,0,0,.3);
}

.clock-numbers {
  padding-left: 0;
  height: 120px;
  width: 120px;
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  list-style: none;
  margin: 0;
}

.clock-numbers li {
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin: -10px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
  color: #544E3E;
  font-weight: bold;
}

.clock-numbers li:nth-child(1) {
  left: 50%;
  top: 0;
}

.clock-numbers li:nth-child(2) {
  right: 0;
  top: 50%;
}

.clock-numbers li:nth-child(3) {
  bottom: 0;
  left: 50%;
}

.clock-numbers li:nth-child(4) {
  left: 0;
  top: 50%;
}

.clock-minutes {
  height: 60px;
  width: 2px;
  background: #D56851;
  border-radius: 2px;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 1px);
  transform-origin: 1px 60px;
  animation: clock 60s steps(60, end) infinite;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.min {
	animation: clock 3600s steps(60, end) infinite;
}

.hour {
	animation: clock 216000s steps(60, end) infinite;
}

.clock-minutes:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #D56851;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  top: calc(100% - 4px);
  left: calc(100% - 5px); 
}

@keyframes clock {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}